*{
    padding: 0;
    margin: 0;
}

.contentMain{
    position: relative;
    margin-top: 15vh;
}

.contentHome p p, div{
    font-family:cursive;
}

.contentHome p div {
    display: inline;
}

.contentHome p p div {
    font-size: 2rem;
}
